xst/
_xmsgs/
iseconfig/
isim/
*.cache/
*.hw/
*.runs/
*.sdk/
*.srcs/
*.tmp/
import_ise_summary.txt
*.gise
*.xise
*.cmd_log
*.lso
*.prj
*.syr
*.xst
*.xml
*.log
*.xise
*.bgn
*.bld
*.drc
*.ncd
*.ngr
*.ngd
*.ngc
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.html
*_map.*
*_ngdbuild.
*_pad.*
*._par.
*.xrpt
*_beh.*
fuse*
*.cmd
xilinxsim.*
_ngo/
xlnx_auto*

# Quartus / MiSTer build outputs
mister/db/
mister/incremental_db/
mister/output/
mister/*.qdb
mister/*.qws
mister/*.rpt
mister/*.summary
mister/*.smsg
mister/*.done
mister/*.flow.rpt
mister/*.map.rpt
mister/*.fit.rpt
mister/*.asm.rpt
mister/*.tan.rpt
mister/*.sta.rpt
mister/*.pin
mister/*.sof
mister/*.pof
mister/*.jic
mister/*.rbf
sys/
